*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #ebebeb;
    color: white;
}
.hidden {
    position: absolute;
    left: -9999px; 
}
  
.visible {
    position: static; /* o relative si es necesario */
    left: auto;
}

h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 3rem;
    text-align: center;
}
h3{
    font-size: 2rem;
    text-align: center;
}
h4{
    font-size: 1.3rem;
    text-align: center;
}

#create-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}
#start{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start button{
    margin: 20px;
}
#selector{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foods{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foodCard{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 40%;
    align-items: center;
    color: #1f0d3b;
    background-color: #b9a9ff;
    border: 10px solid #1f0d3b;
    border-radius: 50px;
}
#foodCard h3{
    margin-top: 20px;
}
#foodCard ul li{
    margin: 20px 0px;
    font-size: 1rem;
    font-weight: 400;
}
.buttons{
    color: #ebebeb;
    background-color: #1f0d3b;
    border: #1f0d3b;
    padding: 10px;
    border-radius: 10px;
}
.sections{
    background-color: #7355fa;
    margin: 0px 30px 0px;
    padding: 8em 30px 8rem;

}
.middle-section{
    padding-top: 0px;
}
.sectionDown{
    background-color: #1f0d3b;
    margin: 0px 30px 0px ;
    padding: 30px 30px 30px;
}
.sectionDown div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 0px;
}
.sectionDown input,.sectionDown button{
    background-color: #7355fa;
    margin-left: 10px;
}
.sectionDown select{
    width: 30%;
}
ul{
    list-style: none;
}